.project__header{
    margin: 8px 0;
}

.main {
    display: grid;
    grid-template-columns: 25% auto;
    column-gap: 16px;
}

footer {
    text-align: center;
    margin-top: 32px;
}

@media (max-width:800px){
    .main {
        display: grid;
        grid-template-columns: 27% auto;
      }
}
@media (max-width:600px){
    .main{
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 16px;
        grid-template-columns: none;
    }
}
@media (min-width:801px){
    .main {
        display: grid;
        grid-template-columns: 20% auto;
      }
}