.filter {
    .filter__header {
        text-align: center;
        margin: 0 16px;
    }
    hr {
        width: 70%;
    }
    .filter__main {
        display: grid;
        grid-template-columns: 50% auto;
        button {
          display: block;
          width: 72px;
          margin: 16px auto;
          height: 32px;
          background: #bddf9b;
          border: 2px solid #a2cf74;
          border-radius: 4px;
          box-shadow: none;
          outline: none;
          text-transform: capitalize;
          &.active {
            background: #609100;
            border: 2px solid #609100;
          }
        }
      }
      
}