.mission__image-container {
  text-align: center;
  margin: 16px;
  background: #eeecec;
}

.mission__content {
  ul {
    margin: 16px;
    padding: 0;
    list-style: none;
    li {
      margin: 8px 0;
      h4 {
        display: inline-block;
        padding: 0;
        margin: 0;
        &.mission__title {
          color: #36c;
        }
      }
      .mission__ids {
        list-style-type: disc;
        margin: 0 16px;
        .mission__id {
          margin: 0 16px;
        }
      }
    }
  }
}
